@import "tailwindcss";

@theme {
  --color-amazon-blue: #131921;
  --color-amazon-light: #232F3E;
  --color-amazon-yellow: #febd69;
  --font-outfit: 'Outfit', sans-serif;
}

/* Global Styles */
body {
  background-color: #EAEDED;
  color: #131921; /* <--- ADD THIS LINE to make text visible */
  font-family: var(--font-outfit);
}