@import "tailwindcss";

/* Define your custom Amazon-like theme here */
@theme {
  --color-amazon-blue: #131921;
  --color-amazon-light: #232F3E;
  --color-amazon-yellow: #febd69;
  --font-outfit: 'Outfit', sans-serif;
}

/* Global Styles */
body {
  background-color: #EAEDED;
  font-family: var(--font-outfit);
}